page-payment {

  .toolbar-background {
    background: color($colors, primary);
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color:white;
}

.content{
    background-color: rgb(240, 236, 236);
  }
  
  .swiper-slide img {
    width: 100%;
    height: 20rem;
  }

  .col-class {
      padding: 0px;
  }

  .pay-text{
    font-size: 2rem;
    color: color($colors, secondary);
  }

  .class-footer{
    background-color: rgb(240, 236, 236);
  }
  
}
